@font-face {
    font-family: FerroRosso;
    src: url(assets/font/FerroRosso.ttf);
}
@font-face {
    font-family: arialR;
    src: url(assets/font/Arialregular.ttf);
}
@font-face {
    font-family: arialB;
    src: url(assets/font/arialbd.ttf);
}